<div class="container" fxLayout="column" fxLayoutGap="10px">

  <div fxFlex class="catalog-title">
    <div>
      <h1>{{titleCatalog}}</h1>
      <hr>
    </div>
  </div>

  <div fxFlex>
    <mat-grid-list cols="3" rowHeight="200px">
      <mat-grid-tile *ngFor="let item of items">
        <img src={{item.image}} alt={{item.name}}>
        <mat-grid-tile-footer>
          <h2 matLine>{{item.name | uppercase}}</h2>
          <p matLine>{{item.description}}</p>
        </mat-grid-tile-footer>
      </mat-grid-tile>
    </mat-grid-list>
  </div>

</div>
